<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- link a fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous">

    <!-- link a google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- link a master.css -->
    <link rel="stylesheet" href="assets/css/master.css">

    <title>Boolflix</title>
</head>
<body>
    <div id="root">
        <nav class="navbar">
            <div class="navbar-left">
                <ul>
                    <li>
                        <a><img class="logo" src="assets/img/netflix-logo.png" alt="Logo Netflix"></a>
                    </li>
                    <li @keyup.enter="searchSerie">
                        <a>
                            serie tv{{ movieGenresPush() }}
                        </a>
                    </li>
                    <li @keyup.enter="searchMovie">
                        <a>
                            film
                        </a>
                    </li>
                </ul>
                
            </div>
            <div class="navbar-right">
                <input type="text" placeholder="Cerca"
                @keyup.enter="searchContent"
                v-model="inputSearch">
            </div>
        </nav>
        <main class="card-container">

            <h1 v-if="movies.length > 0">Film</h1>
            <div class="card-movies-series">
                <div class="card"
                :style="`background: center / cover no-repeat url('https://image.tmdb.org/t/p/w342/${movie.poster_path}');`"
                v-for="movie in movies"
                v-if="movie.poster_path != null">
                    <div class="card-description">
                        <span>Titolo: {{ movie.title }} </span>
                        <span v-if="movie.title != movie.original_title">Titolo originale: {{ movie.original_title }} </span>
                        <span>Voto: {{ movie.vote_average }} </span>
                        <span>Lingua: {{ movie.original_language }} </span>
                    </div>
                </div>
            </div>
            
            <h1 v-if="series.length > 0" class="mt-40">Serie TV</h1>
            <div class="card-movies-series">
                <div class="card"
                :style="`background: url('https://image.tmdb.org/t/p/w342/${serie.poster_path}') no-repeat center;`"
                v-for="serie in series"
                v-if="serie.poster_path != null">
                    <div class="card-description">
                        <span>Titolo: {{ serie.name }} </span>
                        <span v-if="serie.name != serie.original_name">Titolo originale: {{ serie.original_name }} </span>
                        <span>Voto: {{ serie.vote_average }} </span>
                        <span>Lingua: {{ serie.original_language }} </span>
                    </div>
                </div>
            </div>

            <div class="genres-list" v-if="searched == false">
                <div class="genre"
                v-for="genre in genres"
                v-if="genre.name != 'televisione film'">
                    <h1> {{ genre.name }} </h1>
                    <div class="card-movies-series" v-if="searched == false">
                        <div class="card"
                        :style="`background: center / cover no-repeat url('https://image.tmdb.org/t/p/w342/${popular.poster_path}');`"
                        v-for="(popular, index) in popularMovies"
                        v-if="popular.poster_path != null && popular.genre_ids.includes(genre.id)">
                            <div class="card-description">
                                <span>Titolo: {{ popular.title }} </span>
                                <span v-if="popular.title != popular.original_title">Titolo originale: {{ popular.original_title }} </span>
                                <span>Voto: {{ popular.vote_average }} </span>
                                <span>Lingua: {{ popular.original_language }} </span>
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>

            
            
        </main>
    </div>

    <!-- link a librerie js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>