* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

#root {
    height: 100vh;
    background: rgb(36, 36, 36);
}

.navbar {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    width: 100%;
}

.navbar .logo {
    color: #E50914;
    font-size: 2em;
    font-weight: 700;
    cursor: pointer;
}

.navbar input {
    padding-left: 10px;
}

.card-container {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    background: rgb(36, 36, 36);
}

.card {
    color: #fff;
    padding: 10px 10px;
    width: 250px;
    height: 350px;
    background: #000;
    margin: 10px;
}

.card span {
    font-size: 1em;
    display: block;
}