* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.mt-40 {
    margin-top: 40px;
}

#root {
    height: 100vh;
    background: rgb(36, 36, 36);
}

.navbar {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px 15px; */
    padding: 0 30px;
    height: 80px;
    width: 100%;
}

.navbar-left {
    align-items: center;
}

.navbar .logo {
    height: 2em;
    cursor: pointer;
}

.navbar-left ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding-inline-start: 0;
    text-transform: uppercase;
}

.navbar-left ul li {
    display: inline;
    color: #fff;
}

.navbar-left ul li a {
    cursor: pointer;
    margin-right: 40px;
    font-weight: 600;
}

.navbar input {
    padding-left: 10px;
    height: 40px;
}

.card-container {
    padding: 30px;
    background: rgb(36, 36, 36);
}

.card-container h1 {
    color: #fff;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.card-movies-series {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
}

.card {
    color: #fff;
    height: 400px;
    width: calc(100% / 6 - 10px);
    margin: 5px;
}

.card-description {
    padding: 10px 10px;
    opacity: 0;
    height: 100%;
    background: #000;
}

.card-description:hover {
    opacity: 1;
}

.card span {
    font-size: 1em;
    display: block;
}

@media all and (min-width: 1501px)
{
    .card {
        width: calc(100% / 6 - 10px);
    }
}

@media all and (min-width: 1200px) and (max-width: 1500px)
{
    .card {
        width: calc(100% / 5 - 10px);
    }
}

@media all and (min-width: 800px) and (max-width: 1199px)
{
    .card {
        width: calc(100% / 4 - 10px);
    }
}

@media all and (min-width: 601px) and (max-width: 799px)
{
    .card {
        width: calc(100% / 3 - 10px);
    }
}

@media all and (max-width: 600px)
{ 
    .card {
        width: calc(100% / 2 - 10px);
    }
}